html{
  min-width: 1100px;
  max-width: 100%;
}

body {
  font-family: serif;
}
h1 {
    text-align: center;
    margin-left: 21rem;
}
p {
}

html, body{
  fone-size: 15px;
}

#population{
  float:left;
}
#survival{
  float:right;
}

#chartContainer{
  margin-top: 200px;
  width: 60%;
  margin-left: 21rem;
  position:absolute;
}

#results{
  background-color: white;
  width: 60%; /* Full width */
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  position: absolute;
}

.results{
  padding: 0.5rem;
}

.header{
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.forms{
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  width: 270px;
}

.formText{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
}


#btn{
  border: none;
  color: white;
  text-align: center;
  font-size: 2rem;
  display: block;
  position: relative;
  width: 4em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

input{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.percent #survivalChance{
  position:absolute;
  top: 10px;
  left: 10px;
}


#survivalChance{
  width: 100%
  position: relative;
}

#details{
  display: none; /* Hidden by default */
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 21rem;
  width: 60%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.button{
  visibility: hidden;
  border: none;
  color: white;
  text-align: center;
  font-size: 2rem;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width:auto;
}

button{
  background-color: #A9A9A9;
  font-family: serif;
  border: 1px solid black;
}

button:hover {
    background-color: #BEBEBE;
}

.buttonContainer{
  width: 100%;
  display: block;
}

.canvas{
  max-width: -webkit-fill-available;
}

#graphButton{
  float:left;
  margin-left: 2rem;
  width: 32%;
  padding-left: auto;
  padding-right: auto;
}

#resultsButton{
  background-color: #DCDCDC;
  float:left;
  margin-right: 2rem;
  width: 32%;
  padding-left: auto;
  padding-right: auto;
}



/* The Close Button */
.close {
    color: #aaa;
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
